---
import Check2 from "@assets/icons/Check2.astro";
import Languages from "@assets/icons/Languages.astro";
import { locales } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  currentLanguage: string;
}

const { currentLanguage } = Astro.props;
const { pathname } = Astro.url;
const path = pathname.replace(/^\/[a-z]{2}/, "") || "/";
---

<button
  title="Idioma"
  aria-label="toggle language"
  class="toggleLanguage flex size-10 cursor-pointer items-center justify-center rounded-full border border-neutral-800/80 transition-colors duration-500 hover:bg-neutral-800 lg:bg-neutral-950 xl:w-min xl:gap-2 xl:px-3 xl:py-2"
>
  <Languages styles="size-6" />
  <span class="text-xs max-xl:hidden">{currentLanguage.toUpperCase()}</span>
</button>
<!-- Lista de Idiomas -->
<ul
  class="absolute top-full right-2 z-60 max-h-0 min-w-[140px] list-none overflow-hidden rounded-lg border-neutral-800/80 bg-neutral-950 shadow-lg transition-all duration-500 ease-in-out sm:right-3 sm:mt-2 sm:min-w-40 md:right-6 lg:right-20 xl:right-28"
>
  {
    Object.entries(locales).map(([key, value]) => {
      const displayNames = new Intl.DisplayNames([currentLanguage], {
        type: "language",
      });

      return (
        <li>
          <a
            href={getRelativeLocaleUrl(key, path)}
            aria-label={`change language to ${value}`}
            class="flex w-full items-center gap-2 px-3 py-2 text-sm transition-colors hover:bg-neutral-800/80 sm:gap-3 sm:px-4 sm:py-2.5"
          >
            <span class="text-sm sm:text-base">{value}</span>
            <span class="flex-1 text-left text-xs capitalize sm:text-sm">
              {displayNames.of(key)}
            </span>
            {currentLanguage === key && (
              <Check2 styles="size-3.5 text-primary sm:size-4" />
            )}
          </a>
        </li>
      );
    })
  }
</ul>

<script>
  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll(
      ".toggleLanguage",
    ) as NodeListOf<HTMLButtonElement>;
    buttons.forEach((btn) => {
      if (!btn.dataset.listenerAdded) {
        const list = btn.nextElementSibling!;
        btn.addEventListener("click", () => {
          list.classList.toggle("border");
          list.classList.toggle("max-h-[500px]");
        });
        btn.dataset.listenerAdded = "true";
      }
    });
  });
</script>
