@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --animate-fadeIn: fadeIn 0.5s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #0a0a0a;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
  }
}
