@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #0a0a0a;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
  }
}
