---
import am from "@assets/images/hero/3am.png";
import anne from "@assets/images/hero/anne.png";
import photography from "@assets/images/hero/photography.png";
import ph from "@assets/images/hero/ph.png";
import { Image } from "astro:assets";

const images = [ph, photography, am, anne];
---

<div
  class="absolute bottom-0 left-8 flex items-center justify-center gap-6 md:-bottom-2 md:gap-12 lg:left-16 lg:gap-16"
  id="image-grid"
>
  {
    images.map((image) => (
      <div class="size-11 overflow-hidden rounded-sm md:size-24 lg:size-32">
        <Image
          src={image}
          alt="Proyect"
          class="object-cover"
          widths={[44, 96, 128]}
          sizes="(max-width: 767px) 44px, (max-width: 1023px) 96px, 128px"
          quality="high"
        />
      </div>
    ))
  }
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const imageGrid = document.getElementById("image-grid");
    const target = document.getElementById("target");
    if (!imageGrid || !target) return;

    const initialTranslateX = -window.innerWidth; // arranca fuera de pantalla
    const finalTranslateX = 0; // llega al centro

    let animationFrameId: number | null = null;
    let currentX = initialTranslateX;

    let rect: DOMRect, windowHeight: number;

    function recalc() {
      rect = target!.getBoundingClientRect();
      windowHeight = window.innerHeight;
    }

    function updateTransform() {
      animationFrameId = null;

      let rawProgress =
        (windowHeight - rect.top) / (windowHeight + rect.height * 0.65);
      rawProgress = Math.min(Math.max(rawProgress, 0), 1);

      const targetX =
        initialTranslateX + (finalTranslateX - initialTranslateX) * rawProgress;

      // suavizado tipo “lerp con fricción”
      const smoothing = 0.15; // más rápido en móvil
      currentX += (targetX - currentX) * smoothing;

      imageGrid!.style.transform = `translate3d(${currentX}px,0,0)`;

      animationFrameId = requestAnimationFrame(updateTransform);
    }

    function onScrollOrResize() {
      recalc();
      if (!animationFrameId) {
        animationFrameId = requestAnimationFrame(updateTransform);
      }
    }

    // estado inicial
    imageGrid.style.transform = `translate3d(${initialTranslateX}px,0,0)`;

    window.addEventListener("scroll", onScrollOrResize, { passive: true });
    window.addEventListener("resize", onScrollOrResize);

    onScrollOrResize();
  });
</script>

