---
import SkillCard from "@components/ui/SkillCard.astro";
import StickyTitle from "@components/ui/StickyTitle.astro";
import type es from "@i18n/ui/es";
import { skills } from "@lib/consts";

interface Props {
  texts: typeof es.home.skills;
}

const { texts: t } = Astro.props;
const data = skills(t.skills);
---

<section
  class="relative flex w-full flex-col items-center gap-20 md:gap-32 lg:gap-52"
>
  <StickyTitle title={t.title} to="" button="" simple />
  <div
    class="flex w-full flex-col items-center gap-20 px-4 md:gap-24 md:px-8 lg:gap-32"
  >
    {
      data.map(({ label, image, skills }) => (
        <SkillCard
          label={label}
          image={image}
          skills={skills}
          styles="observe-enter"
        />
      ))
    }
  </div>
</section>
