---
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  redirection: string;
  styles?: string;
}

const { title, image, redirection, styles } = Astro.props;
---

<a class:list={["w-full max-w-(--breakpoint-2xl)", styles]} href={redirection}>
  <div
    class="group flex w-full flex-col items-center justify-center border border-neutral-800/80 bg-neutral-950"
  >
    <div
      class="flex w-full items-center justify-center px-4 py-6 transition-colors duration-300 group-hover:bg-neutral-900/15 md:py-7"
    >
      <h4
        class="text-lg/tight font-medium uppercase md:text-2xl/tight lg:text-3xl/tight"
      >
        {title}
      </h4>
    </div>
    <div class="size-full overflow-hidden">
      <Image
        src={image}
        alt="Models"
        class="h-80 w-full object-cover transition-transform duration-700 md:h-120 lg:h-156 lg:group-hover:scale-105"
      />
    </div>
  </div>
</a>
