---
import { getTranslation, type Locale } from "@i18n/utils";
import ButtonRounded from "./ButtonRounded.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Arrow from "@assets/icons/Arrow.astro";

interface Props {
  currentLang: Locale;
  styles?: string;
}

const { currentLang, styles } = Astro.props;
const t = getTranslation(currentLang, "cta");
---

<section
  class:list={[
    "flex w-full flex-col items-center gap-9 px-4 md:gap-10 md:px-8 lg:gap-12",
    styles,
  ]}
  id="cta"
>
  <h2
    class="max-w-4xl text-center text-4xl/snug font-medium uppercase opacity-0 md:text-6xl/snug lg:text-7xl/snug"
  >
    {t.text1}
    <span class="text-neutral-400">{t.text2}</span>
  </h2>
  <ButtonRounded
    to={getRelativeLocaleUrl(currentLang, "contact")}
    styles="h-12 lg:h-14 lg:px-9 lg:text-2xl px-8 font-medium uppercase opacity-0"
  >
    {t.button}
    <Arrow
      styles="size-7 lg:size-8 stroke-[1.5] group-hover:translate-x-2 duration-500 transition-tranform"
    />
  </ButtonRounded>
</section>

<script is:inline data-astro-rerun>
  (() => {
    const cta = document.getElementById("cta");
    if (!cta) return;

    const children = cta.querySelectorAll("h2, a");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            children.forEach((el, index) => {
              setTimeout(() => {
                el.classList.add("animate-fadeIn");
              }, index * 200);
            });
            observer.unobserve(cta);
          }
        });
      },
      { threshold: 0.2 },
    );
    observer.observe(cta);
  })();
</script>
